{% extends "base.html" %}

{% block content %}
  {{ page.content }}
  {% set blog_posts = [] %}
  {% for page in nav.pages %}
    {% if page.url.startswith(config.extra.blog.dir) and page.meta.date is defined %}
      <!-- or "" suppresses "None" output-->
      {{ blog_posts.append( page ) or "" }}
    {% endif %}
  {% endfor %}

  {% for page in (blog_posts|sort(attribute="meta.date", reverse=True))[:config.extra.blog.list_length] %}
  <div style="display:flex; align-items:center; margin-bottom:20px;">
    <div style="flex-basis:40%;">
      <a href="{{ page.url|url }}"><img style="max-height:100%; max-width:100%; object-fit:cover;" src="{{ page.meta.picture }}"></a>
    </div>
    <div style="flex-basis:60%; padding-left:20px;">
      <h1 class="h1card"><a href="{{ page.url|url }}">{{ page.title }}</a></h1>
      <p style="font-weight:bold;">{{ page.meta.description }}</p>
      {% include "partials/blog_metadata.html" %}
    </div>
  </div>
  <hr>
  {% endfor %}
{% endblock %}
