{% extends "base.html" %}

{% block content %}

<center><img style="max-height:100%; max-width:80%; object-fit:cover;" src="../../{{ page.meta.picture }}"></center>
<br>
  <h1 class="article">{{ page.title }}</h1>
  <p>
    <b>{{ page.meta.description }}</b>
  </p>
  {% include "partials/blog_metadata.html" %}
  <hr>
  {{ page.content }}
{% endblock %}
